<!-- Modals section -->

    <!-- Speaker modals -->
    {% for speaker in site.invited_speakers %}
    <div id={{speaker.id}} class="modal">
      <div class="modal-content">
<h4>
  <a href="{{speaker.link}}" 
     style="color: #0066cc; 
            font-weight: bold;
            text-decoration: underline;
            text-underline-offset: 8px; / 控制下划线距离 /
            padding: 2px 5px;">
    {{speaker.name}}
  </a>
  <small style="color: gray">{{speaker.title}}, {{speaker.affiliation}}</small>
</h4>
        <h5>{{speaker.talk_title}}</h5>
        {{speaker.content | markdownify}}
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>     
    {% endfor %}

    <!-- Paper modals -->
    {% for paper in site.papers %}
      <div id={{paper.id}} class="modal">
        <div class="modal-content">
          <h4>{{paper.title}}</h4>
          <h5>{{paper.author}}</h5>
          {{paper.content | markdownify}}
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>     
    {% endfor %}
