<!-- Venue section -->
      <div class="section scrollspy section-white-section" id="venue">
        <div class="container">
          <h4 class="center-align section-white-header">Venue & Accommodation</h4>
          <h5 class="center-align section-white-header">Conference Venue</h5>
          <div class="row">
            <div class="col s12 m5 section-white-body">
              <address>
                HKBU, 224 Waterloo Road <br />
                Kowloon Tong<br />
                Hong Kong
              </address>
              <p>The conference will be held at Hong Kong Baptist University, Kowloon Tong, Hong Kong.
              </p>
              <p>
                <a href="{{site.directions-link}}">Click here to get directions to HKBU.</a>
              </p>
            </div>
            <div class="col s12 m7 section-white-body">
              <div class="google-maps">
                <iframe src="{{site.map-embed}}" frameborder="0" style="border:0" allowfullscreen></iframe>            
              </div>
            </div>
          </div>
          <!-- Hotel Accommodation Section -->
          <div class="row">
            <div class="col s12">
              <h5 class="center-align section-white-header" style="margin-top:2rem;">Recommended Hotels</h5>
            </div>
            <!-- Harbour Grand Kowloon Hotel -->
            <div class="col s12 m6">
              <div class="card white hotel-card">
                <div class="card-content">
                  <span class="card-title blue-text text-darken-2" style="font-weight:bold;">Harbour Grand Kowloon Hotel <span class="grey-text text-darken-1" style="font-size:0.9em;">(Five Star)</span></span>
                  <p class="hotel-address"><b>Address:</b> 20 Tak Fung Street, Whampoa Garden, Hung Hom, Kowloon, Hong Kong<br>
                  (MTR Whampoa Station, Exit D2)</p>
                  <p><b>Tel:</b> (852) 2996 8015</p>
                  <div class="hotel-links">
                    <a class="btn blue lighten-1" target="_blank" href="https://be.synxis.com/?Hotel=76633&Chain=21619&arrive=2025-11-13&depart=2025-11-16&adult=1&child=0&group=1311HKTB">Room only Booking</a>
                    <a class="btn blue lighten-2" target="_blank" href="https://be.synxis.com/?Hotel=76633&Chain=21619&arrive=2025-11-13&depart=2025-11-16&adult=1&child=0&group=1311HKTBBF">Room + Breakfast</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Royal Plaza Hotel -->
            <div class="col s12 m6">
              <div class="card white hotel-card">
                <div class="card-content">
                  <span class="card-title blue-text text-darken-2" style="font-weight:bold;">Royal Plaza Hotel <span class="grey-text text-darken-1" style="font-size:0.9em;">(Five Star)</span></span>
                  <p class="hotel-address"><b>Address:</b> 193 Prince Edward Road West, Kowloon, Hong Kong<br>
                  (MTR Mong Kok East Station)</p>
                  <p><b>Tel:</b> (852) 2622-6291</p>
                  <div class="hotel-links">
                    <a class="btn blue lighten-1" target="_blank" href="https://redirect.fastbooking.com/DIRECTORY/dispoprice.phtml?HotelName=ASIAHKSHKHTLRoyalPla&arrival=2025-11-13&nbstay=0&locale=en_GB&currency=HKD&accessCode=ESAPEWH">Booking Website</a>
                  </div>
                  <p class="grey-text" style="font-size:0.95em;">Rate: 21days (28%) & early bird (43%)<br>*Final room rates are based on your confirmed booking.</p>
                </div>
              </div>
            </div>
            <div class="col s12">
              <div class="card-panel yellow lighten-4 z-depth-0" style="margin-top:1rem;">
                <b class="red-text">Reminder:</b> For reservations, please confirm with the hotel. Due to limited room availability, we kindly recommend making your reservation as early as possible. PDF versions of the hotel information are available for download below. 
                <br>
               <a href="/img/Hotel.pdf" class="btn-flat blue-text" target="_blank" style="margin-left: 8px;">Download PDF</a>
              </div>
            </div>
          </div>
        </div>
      </div>
